body {
    background-color: #00B4D8;
    text-align: center;
}



nav {
    background-color: #90E0EF;
}


h1 {
    animation: fadeIn 5s;
    font-family: "Victor Mono", monospace;
    font-size: 2rem;
}